@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
* {
  padding: 0;
  margin: 0;
}

body {
  background: #f8efe2;
}

#preload {
  display: none;
}

.running_man {
  width: 570px;
  height: 270px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.running_man .man {
  z-index: 10;
  top: -170px;
  left: 600px;
  position: absolute;
  width: 250px;
  height: 290px;
  background-size: contain;
  background-repeat: no-repeat;
}
.running_man .textarea span {
  font-size: 24px;
  display: block;
  color: #1d1f20;
  opacity: 0;
  font-family: "Luckiest Guy", cursive;
}
.running_man .textarea span:nth-child(1) {
  margin-left: 7px;
  transform: translateX(-100px);
  transition: all 400ms 400ms;
}
.running_man .textarea span:nth-child(2) {
  z-index: 12;
  font-size: 160px;
  color: #1d1f20;
  transform: translateX(-100px);
  transition: all 400ms 600ms;
  position: relative;
}
.running_man .textarea span:nth-child(3) {
  z-index: 9;
  position: absolute;
  display: block;
  font-size: 120px;
  margin: -135px 0 0 300px;
  transform: translateX(-100px);
  transition: all 400ms 700ms;
}
.running_man .textarea span:nth-child(4) {
  color: #ef3a55;
  margin-top: -45px;
  font-size: 130px;
  transform: translateX(-100px);
  transition: all 400ms 800ms;
}
.running_man.active .textarea span {
  transform: translateX(0px);
  opacity: 0.95;
}